body{
	font-family:arial,sans-serif;
	font-weight:bold;
	font-size:14px;
	background:#fcfcff;
	line-height:1.6;
	margin:0;
	padding:0;
	color: #510;
}
h1,p{
	padding:10px;
	margin:0;
}

header{
	background: #aef;
	height:80px;
	margin-top:0;
	font-size:18px;
	font-family:"arial black",sans-serif;
}
.msg{
	background: #eef0ff;
	color: #200;
	font-size:16px;
	font-weight:normal;
	clear:both;
	font-family:georgia,serif;
}
.read{
	color: #999;
	bottom: 0px;
}
.hide{
	display: none;
}
.title{
	border-bottom:1px dashed #666;
	width:100%;
	min-width:500px;
}
.right{
	float:right;
}
.left{
	float:left;
}
.center{
	width:50%;
	margin:0 auto;
}
#inboxCount{
	width:100px;
	margin-top:20px;
	padding-left:0;
	position:fixed;
	border-bottom: 1px dashed #999;
	border-top: 1px dashed #999;
}
#inboxCount li{
	display:block;
	padding:5px;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
}
#inboxCount li:hover{
	box-shadow:2px 2px 5px black;
}
#content, #readContent{
	margin-top:15px;
	cursor:pointer;
	margin-left:125px;
}
.title:hover{
	box-shadow:0 1px 1px black;
}